/* Estilos genéricos ----------------------------*/

* {
    padding: 0;
    margin: 0;
}

/* BOX */
.box {
    width: 200px;
    height: 200px;
    float: left;
    background-color: skyblue;
    margin: 10px;
}
/* DIV Header */
.header, header {
    width: 100%;
    height: 20%;
    float: left;
    background-color: beige;
    padding-top: 15px;
}
/* DIV nav */
.nav, nav {
    box-sizing: content-box;
    width: 100%;
    height: 15%;
    float: left;
    overflow: hidden;
    background-color: greenyellow;
}

.nav li {
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
}

.main, main {
    width: 100%;
    height: 55%;
    float: left;
}

.half_main {
    width: 50%;
    float: left;
}

#half1 {
    background-color: chocolate;
    display: block;
    text-align: center;
}

#half2 {
    background-color: violet;
    text-align: center;
}

.resto {
    float: left;
    width: 60%;
    background-color: aquamarine;
    padding: 20px;
}

.hueco {
    float: left;
    width: 20%;
    min-height: 1px;
}

.footer, footer {
    width: 100%;
    height: 10%;
    float: left;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}

img {
    width: 300px;
    height: 200px;
    padding: 8px;
}

.float_left {
    float: left;
}


/* Para todo */


/* Para el header -------------------------------*/

/* Para el nav ------------------------------
nav {
    align-items: center;
    background-color: goldenrod;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
    display: flex;
}*/

ul {
    list-style-type: none;
}


/* Para el footer footer {
    clear: both;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}-------------------------------*/

