body {
    background-color:blue;
    font-family: sans-serif;
}

h1 {
    font-size: 300%;
    text-transform: uppercase;
}

p {
    font-size: 150%;
}

.primera {
    color: white;
    font-family: serif;
    font-style: oblique;
}

p.segunda {
    color:lightgoldenrodyellow;
    font-family: sans-serif;
}

p.tercera {
    color: hsl(35, 100%, 55%);
    font-family: monospace;
    font-size: 200%;
}

p.cuarta {
    color:red;
    font-family: cursive;
}